<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/quests</property>
    <property name="hibernate.connection.username">postgres</property>
    <property name="hibernate.connection.password">1234</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.format_sql">true</property>
    <property name="hibernate.hbm2ddl.auto">create</property>

    <mapping class="org.goldfinch.quests.quest.Quest"/>
    <mapping class="org.goldfinch.quests.player.QuestPlayerData"/>
    <mapping class="org.goldfinch.quests.ActiveQuest"/>

    <mapping class="org.goldfinch.quests.requirements.Requirement"/>
    <mapping class="org.goldfinch.quests.requirements.LevelRequirement"/>
    <mapping class="org.goldfinch.quests.requirements.PermissionRequirement"/>
    <mapping class="org.goldfinch.quests.requirements.CompletedQuestsRequirement"/>

    <mapping class="org.goldfinch.quests.tasks.Task"/>
    <mapping class="org.goldfinch.quests.tasks.KillMobsTask"/>
    <mapping class="org.goldfinch.quests.tasks.ReachLocationTask"/>

    <mapping class="org.goldfinch.quests.rewards.Reward"/>
    <mapping class="org.goldfinch.quests.rewards.ExperienceReward"/>
    <mapping class="org.goldfinch.quests.rewards.ItemReward"/>
    <mapping class="org.goldfinch.quests.rewards.QuestPointsReward"/>

    <mapping class="org.goldfinch.quests.wrappers.LocationWrapper"/>
    <mapping class="org.goldfinch.quests.wrappers.ItemStackWrapper"/>
  </session-factory>
</hibernate-configuration>