<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/quests</property>
    <property name="hibernate.connection.username">postgres</property>
    <property name="hibernate.connection.password">1234</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.format_sql">true</property>
    <property name="hibernate.hbm2ddl.auto">update</property>

    <mapping class="org.goldfinch.quests.quest.entity.Quest"/>
    <mapping class="org.goldfinch.quests.player.entity.QuestPlayerData"/>
    <mapping class="org.goldfinch.quests.active.ActiveQuest"/>

    <mapping class="org.goldfinch.quests.tasks.Task"/>
    <mapping class="org.goldfinch.quests.tasks.impl.KillMobsTask"/>
    <mapping class="org.goldfinch.quests.tasks.impl.ReachLocationTask"/>

    <mapping class="org.goldfinch.quests.rewards.Rewards"/>
    <mapping class="org.goldfinch.quests.conditions.Conditions"/>
    <mapping class="org.goldfinch.quests.requirements.Requirements"/>

    <mapping class="org.goldfinch.quests.wrappers.impl.LocationWrapper"/>
    <mapping class="org.goldfinch.quests.wrappers.impl.ItemStackWrapper"/>
  </session-factory>
</hibernate-configuration>